<clr-datagrid>
    <clr-dg-column [clrDgColType]="'number'" [clrDgField]="'id'">User ID</clr-dg-column>
    <clr-dg-column [clrDgColType]="'string'" [clrDgField]="'name'">Name</clr-dg-column>
    <clr-dg-column [clrDgColType]="'date'" [clrDgField]="'creation'">
        Creation date
        <clr-dg-filter>
            <lib-date-filter property="creation"></lib-date-filter>
        </clr-dg-filter>
    </clr-dg-column>
    <clr-dg-column [clrDgColType]="'string'" [clrDgField]="'color'">Favorite color</clr-dg-column>

    <clr-dg-row *clrDgItems="let user of users">
        <clr-dg-cell>{{user.id}}</clr-dg-cell>
        <clr-dg-cell>{{user.name}}</clr-dg-cell>
        <clr-dg-cell>{{user.creation | date:'full'}}</clr-dg-cell>
        <clr-dg-cell>{{user.color}}
            <span class="color-square" [style.backgroundColor]="user.color"></span></clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{users.length}} users</clr-dg-footer>
</clr-datagrid>